/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #333;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* CONTAINER */
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

/* NAVBAR */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    background: linear-gradient(90deg, #8A2BE2, #a855f7);
    z-index: 1000;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.logo {
    color: white;
    display: flex;
    align-items: center;
    gap: 10px; 
}

.logo img {
    width: 100px;   /* controla o tamanho */
    height: auto;  /* mantém proporção */
}

.menu {
    list-style: none;
    display: flex;
    gap: 15px;
    
}

/* .menu {
    list-style: none;
    padding: 0;
    margin: 0;
} */

.menu a {
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    color: white;
    border-radius: 8px;
    transition: 0.3s;
}

.menu a:hover {
    background: white;
    color: #8A2BE2;
}

/* HERO */
.hero {
    height: 100vh;
    background: linear-gradient(rgba(138,43,226,0.7), rgba(138,43,226,0.7)),
                url('unhafundo.jpeg') center/cover;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    padding-top: 80px;
}

.hero-content h1 {
    font-size: 40px;
    margin-bottom: 15px;
}


.btn-primary {
    display: inline-block;
    margin-top: 20px;
    background: white;
    color: #8A2BE2;
    padding: 12px 25px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

.btn-primary:hover {
    transform: scale(1.05);
}

.btn-card {
    display: inline-block;
    margin-top: 20px;
    background: linear-gradient(90deg, #8A2BE2, #a855f7);
    color: white;
    padding: 12px 25px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

.btn-card:hover {
    transform: scale(1.05);
}

/* SOBRE */
.lindona img{
    width: 150px;        /* ajuste como quiser */
    border-radius: 40px; /* cantos arredondados */
    display: block;
    margin: 20px auto;   /* centraliza e cria espaço */
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    align-items: center;
}

/* REDES SOCIAIS */
.btn-redes {
    transition: 0.3s;
    background: none;
    border: none;
    padding: 0;
    
}

.btn-redes:hover {
    transform: scale(1.05);
}

.btn-redes img {
    width: 100px; 
    display: block;
    filter: drop-shadow(0 8px 10px rgba(0, 0, 0, 0.2));
    transition: 0.3s;
    border-radius: 30px;
}

/* SECTION */
.section {
    padding: 100px 0;
}

.section-title {
    text-align: center;
    margin-bottom: 30px;
}

.section-text {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

.bg-light {
    background-color: #f3e8ff;
}

/* AGENDAMENTO */
.btn-agendamento {
    display: flex;
    align-items: center;
    margin-top: 20px;
    background: white;
    color: #8A2BE2;
    padding: 12px 25px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

.btn-agendamento:hover {
    transform: scale(1.05);
}

/* PORTFÓLIO */
.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
}

.foto {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
}

.foto:hover {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
    transform: scale(1.05);
}

.container p{
    margin-bottom: 20px;
}

.botoes {
  margin-top: 30px;
  display: flex;
  gap: 15px;
  justify-content: center;
  background: transparent;
}

.btn-vermais {
    display: inline-block;
    margin-top: 20px;
    background: linear-gradient(90deg, #8A2BE2, #a855f7);
    color: white;
    padding: 12px 25px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
    border: none;      /* remove borda padrão */
    outline: none;     /* remove contorno ao clicar */
    cursor: pointer;   /* deixa cursor de botão */
    font-family: inherit;
}

.btn-vermais:hover {
    transform: scale(1.05);
}

.btn-menos {
    display: inline-block;
    margin-top: 20px;
    background: linear-gradient(90deg, #833bc7, #6721a8);
    color: white;
    padding: 12px 25px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
    border: none;      /* remove borda padrão */
    outline: none;     /* remove contorno ao clicar */
    cursor: pointer;   /* deixa cursor de botão */
    font-family: inherit;
}

.btn-menos:hover {
    transform: scale(1.05);
}

.escondida {
  display: none;
}

/* LOCALIZAÇÃO */
#localizacao {
  padding: 80px 20px;
  text-align: center;
}

.mapa {
  max-width: 1000px;
  margin: 30px auto;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}

/* DUVIDAS */
.btn-zapzap {
    
    transition: 0.3s;
    background: none;
    border: none;
    padding: 0;
}

.btn-zapzap:hover {
    transform: scale(1.05);
}

.btn-zapzap img {
    width: 100px; /* ajuste se quiser */
    display: block;
    border-radius: 50%; /* garante que fique redondo */
    filter: drop-shadow(0 8px 10px rgba(0, 0, 0, 0.2));
    transition: 0.3s;
}

a img {
   width: 100px;
   cursor: pointer;
   transition: 0.3s;
}


/* CARDS */
.cards {
    display: flex;
    gap: 20px;
    margin-top: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    width: 280px;
    text-align: center;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
}

.card a{
    margin-top: auto;
    align-self: center;
}

.card p{
    margin-bottom: 15px;
}

.card:hover {
    transform: translateY(-10px);
}

/* FOOTER */
.footer {
    background: #8A2BE2;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
}

/* BOTÃO HAMBÚRGUER */
.menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    width: 30px;
    height: 22px;
    position: relative;
    z-index: 2000;
}

.menu-toggle span {
    position: absolute;
    height: 3px;
    width: 100%;
    background: white;
    left: 0;
    transition: 0.4s ease;
}

.menu-toggle span:nth-child(1) {
    top: 0;
}

.menu-toggle span:nth-child(2) {
    top: 9px;
}

.menu-toggle span:nth-child(3) {
    bottom: 0;
}

.menu-toggle.active span:nth-child(1) {
    transform: rotate(45deg);
    top: 9px;
}

.menu-toggle.active span:nth-child(2) {
    opacity: 0;
}

.menu-toggle.active span:nth-child(3) {
    transform: rotate(-45deg);
    bottom: 9px;
}

/* ================= MOBILE ================= */
@media (max-width: 768px) {

    .navbar {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .menu-toggle {
        display: block;
        margin-right: 15px;
        z-index: 2000;
    }

    /* SIDEBAR */
    .menu {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: 70%;
        background: linear-gradient(180deg, #571b8f, #7a36b9);
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        transition: 0.4s ease;
        gap: 20px;
        box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    }

    .menu.active {
        right: 0;
    }

    .menu li {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .menu a {
        width: 85%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 15px 0;
    }
    /* .menu a {
        width: 85%;
        display: flex;              /* muda de block para flex */
        /* justify-content: center;    /* centraliza horizontal */
        /* align-items: center;        centraliza vertical */
        /* text-align: center;
        padding: 15px 0;
        font-size: 18px;
    }  */

    .cards {
        width: 100%;
    }

    .card {
        width: 95%;
    }

    .galeria {
        grid-template-columns: 1fr;
        gap: 10px;
    }

}